@import './style-utils/grid.scss';
@import '../style-utils/colors.scss';

.journal {
    display: flex;
    flex-wrap: wrap;
    background: $lightBase;
    padding: $gutter-size--medium;
    margin: $gutter-size--medium 0;
    box-sizing: border-box;

    &-title {
        width: 100%;
        margin: 0;
    }

    &-name {
        font-style: italic;
    }

    &-pubDate {
        width: 100%;
        margin: 0;
        padding: $gutter-size--medium 0;
    }

    &-name {
        margin: 0;
    }

    &-link {
        padding: $gutter-size--medium 0;
    }

    &-author {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

         p {
             margin: 0 0 0 3px;

             &:after {
                 content: '|';
                 padding-left: 3px;
             }
         }
    }
}