@import './style-utils/grid.scss';
@import './style-utils/colors.scss';

#root {
	padding: 0 $gutter-size--medium;
}

h1 {
	text-align: center;
	margin: 0;
	padding: $gutter-size--xxlarge 0;

	@include mq($until: s) {
		font-size: 28px;
	}
}

.count {
	text-align: center;

	@include mq($until: s) {
		font-size: 20px;
	}
}

.loading {
	display: flex;
    justify-content: center;
    align-items: center;
	margin-top: $gutter-size--xxxlarge;
	
	> img {
		height: 100px;
	}
}

.form-container {
	display: flex;
	justify-content: center;
	&-input {
		display: flex;
		padding: 6px;
		border: 1px solid gray;
		width: 75%;
		height: 44px;

		@include mq($until: s) {
			width: 100%;
		}

		input {
			height: 100%;
			flex: 1;
			box-sizing: border-box;
			border: none;
			font-size: 16px;
			padding-left: $gutter-size--medium;
		}

		.input-clear {
			height: 100%;
			border: none;
			font-size: 18px;
			width: 44px;
			background: none;
		}

		.input-search {
			width: 100px;
			margin-left: 12px;
			border: none;
			padding: $gutter-size--medium;
			box-sizing: border-box;
			font-size: 14px;
			background: $base;
			color: white;
		}
	}
}